<h3 class="mt-3">{{accion}} comentario</h3>
<form [formGroup]="agregarComentario" (ngSubmit)="agregarEditarComentario()">
    <div class="mb-3">
        <label for="titulo" class="form-label"> Titulo</label><span *ngIf="agregarComentario.get('titulo')?.invalid && agregarComentario.get('titulo')?.touched" 
        class="text-danger">*</span>
        <input formControlName="titulo" type="text" class="form-control" id="titulo" autocomplete="off">
        
    </div>
    <div class="mb-3">
        <label for="creador" class="form-label">Creador</label>
        <span *ngIf="agregarComentario.get('creador')?.invalid && agregarComentario.get('creador')?.touched" 
        class="text-danger">*</span>
        <input formControlName="creador" type="text" class="form-control" id="creador" >
    </div>
    <div class="mb-3">
        <label for="texto" class="form-label">Texto</label>  
        <span *ngIf="agregarComentario.get('texto')?.invalid && agregarComentario.get('texto')?.touched" 
        class="text-danger">*</span>
        <textarea formControlName="texto" class="form-control" id="texto" rows="8"></textarea>
    </div>
    <button type="submit" [disabled]="agregarComentario.invalid" class="btn btn-primary float-end" >Aceptar</button>
    <button type="button" class="btn btn-secondary" routerLink="/">Volver</button>
    
</form>