<!--
<table class="table table-striped table-hover mt-3">
    <thead>
        <tr>
            <td>Nombre</td>
            <td>Dia</td>
            <td>Telefono</td>
            <td>Numero Personas</td>
            <td></td>
            <td></td>

        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let reserva of listaReservas">
           <td><a>{{reserva.nombre}}</a></td>
           <td>{{reserva.dia}}</td>
           <td>{{reserva.telefono}}</td>
           <td>{{reserva.numeroPersonas}}</td>
            <td>
                <button [routerLink]="['/editar',reserva.id]" class="btn btn-primary btn-sm float-end">Editar</button>
            </td>
            <td>
                <button  class="btn btn-danger btn-sm float-end">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>

<app-carrusel-imagenes></app-carrusel-imagenes>-->


<h2>Holaaaa</h2>